header{
  position: relative;
  height: 64px;
  background: #ffffff;
  display: block;
}

.logo{
  width: 8%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  display: inline-block;
  object-fit: cover;
}

.subtitle{
  color: #AFC8DB;
  position: absolute;
  top: 23px;
  left: 160px;
  display: inline-block;
}

.top-submit{
  background: linear-gradient(to right, #0F71BC, #3BCFFF);
  color: white;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translate(0, -50%);
  box-shadow: 0 0 8px gray;
}

main{
  height: 800px;
  background: #F5F5F8;
  padding-top: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left-content{
  height: 600px;
  width: 700px;
}

.time-display{
  width: 100%;
  display: flex;
  gap: 20px;
}

.learning-time{
  background: #ffffff;
  height: 160px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}

.learning-time p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.day{
  letter-spacing: 1px;
  color: #0E71BC;
  font-weight: 900;
}

.number{
  color: #111111;
  font-size: 40px;
  font-weight: 1000;
}

.hour{
  color: #AFC8DB;
  font-size: 20px;
}

.graph{
  background: #ffffff;
  height: 500px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}

.right-content{
  height: 680px;
  width: 700px;
  display: flex;
  gap: 20px;
}

.learning-content{
  background: #ffffff;
  height: 100%;
  width: 300px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}

.learning-content p{
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 25px;
  font-weight: 700;
}

.date{
  padding: 0 10px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%,0);
  font-weight: 700;
  display: flex;
  gap: 10px;
}

.left-arrow{
  display: block;
  color: #0E71BC;
  object-fit: cover;
}

.right-arrow{
  display: block;
  color: #AFC8DB;
  object-fit: cover;
}

#modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.60);
  display: none;
}

.modal-content{
  background: #ffffff;
  height: 600px;
  width: 900px;
  padding: 56px 56px 30px 56px;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#all-modal-content{
  height: 600px;
  width: 900px;
}

.modal-leftcontent{
  margin-right: 100px;
  height:100%;
  width: 40%;
}

.modal-rightcontent{
  margin: 0;
  height: 100%;
  width: 40%;
}

.close{
  background: #F5F5F8;
  color: #646464;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
}

.button{
  background: linear-gradient(to right, #0F71BC, #3BCFFF);
  color: white;
  height: 56px;
  width: 42%;
  border-radius: 30px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%,0);
  box-shadow: 0 0 8px gray;
}

.dot-spin {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  box-shadow: 0 -18px 0 0 #0F71BC, 12.72984px -12.72984px 0 0 #0F71BC, 18px 0 0 0 #0F71BC, 12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 rgba(152, 128, 255, 0);
  -webkit-animation: dot-spin 1.5s infinite linear;
  animation: dot-spin 1.5s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}

@-webkit-keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #0F71BC, 12.72984px -12.72984px 0 0 #0F71BC, 18px 0 0 0 #0F71BC, 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 0 #0F71BC, 18px 0 0 0 #0F71BC, 12.72984px 12.72984px 0 0 #0F71BC, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #0F71BC, 12.72984px 12.72984px 0 0 #0F71BC, 0 18px 0 0 #0F71BC, -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 #0F71BC, 0 18px 0 0 #0F71BC, -12.72984px 12.72984px 0 0 #0F71BC, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #0F71BC, -12.72984px 12.72984px 0 0 #0F71BC, -18px 0 0 0 #0F71BC, -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 #0F71BC, -18px 0 0 0 #0F71BC, -12.72984px -12.72984px 0 0 #0F71BC;
  }
  75% {
    box-shadow: 0 -18px 0 0 #0F71BC, 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #0F71BC, -12.72984px -12.72984px 0 0 #0F71BC;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #0F71BC, 12.72984px -12.72984px 0 0 #0F71BC, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 #0F71BC;
  }
}

@keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #0F71BC, 12.72984px -12.72984px 0 0 #0F71BC, 18px 0 0 0 #0F71BC, 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 0 #0F71BC, 18px 0 0 0 #0F71BC, 12.72984px 12.72984px 0 0 #0F71BC, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #0F71BC, 12.72984px 12.72984px 0 0 #0F71BC, 0 18px 0 0 #0F71BC, -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 #0F71BC, 0 18px 0 0 #0F71BC, -12.72984px 12.72984px 0 0 #0F71BC, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #0F71BC, -12.72984px 12.72984px 0 0 #0F71BC, -18px 0 0 0 #0F71BC, -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 #0F71BC, -18px 0 0 0 #0F71BC, -12.72984px -12.72984px 0 0 #0F71BC;
  }
  75% {
    box-shadow: 0 -18px 0 0 #0F71BC, 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #0F71BC, -12.72984px -12.72984px 0 0 #0F71BC;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #0F71BC, 12.72984px -12.72984px 0 0 #0F71BC, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 #0F71BC;
  }
}

.learning-date{
  margin: 0;
  width: 100%;
}

.learning-date div{
  width: 100%;
  height: 56px;
  position: relative;
  background: #F5F5F8;
  border-radius: 10px;
}

.calender{
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0,-50%);
  cursor: pointer;
}

.modal-learning-content{
  margin: 0;
  width: 100%;
}

#content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
}

.content{
  display: inline-block;
  padding: 5px;
  background: #F5F5F8;
  border-radius: 50px;
}

/* 元々のチェックボックス（非表示） */
.checkboxes input[type="checkbox"]{
  display: none;
}
/* チェックボックスの代わりを成すラベル */
.checkboxes input[type="checkbox"]+label{
  /* display: none; */
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}
.checkboxes input[type="checkbox"]+label::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-radius: 50%;
  border-color:  #585753;
  background-color: white; 
}
.checkboxes input[type="checkbox"]:checked+label::before{
  border-color:  #585753;
  background-color: #0F71BC; 
}
/* チェックが入った時のレ点 */
.checkboxes input[type="checkbox"]:checked+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 13px;
  height: 9px;
  margin-top: -6px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color:  white; /*チェックの色変更 お好きな色を*/
}

.modal-language{
  margin: 0;
  width: 100%;
}

#language{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
}

.modal-time{
  width: 100%;
}

.modal-time-learning{
  width: 100%;
  height: 56px;
  position: relative;
  background: #F5F5F8;
  border-radius: 10px;
}

.commentbox{
  width: 100%;
}

.commentbox div{
  width: 100%;
  height: 56px;
  position: relative;
  background: #F5F5F8;
  border-radius: 10px;
}

.share-button{
  width: 100%;
}

/* 元々のチェックボックス（非表示） */
.share-button input[type="checkbox"]{
  display: none;
}
/* チェックボックスの代わりを成すラベル */
.share-button input[type="checkbox"]+label{
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}
.share-button input[type="checkbox"]+label::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-radius: 50%;
  border-color:  #585753;
  background-color: white; 
}
.share-button input[type="checkbox"]:checked+label::before{
  border-color:  #585753;
  background-color: #0F71BC; 
}
/* チェックが入った時のレ点 */
.share-button input[type="checkbox"]:checked+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 13px;
  height: 9px;
  margin-top: -6px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color:  white; /*チェックの色変更 お好きな色を*/
}

.back{
  background: #F5F5F8;
  color: #646464;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.wrapper{
  max-width: 600px;
  margin: 0 auto;
  color: #666;
  display: none;
}
#header {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 1rem 0 0;
  display: block;
}

/*カレンダー*/
#calendar {
  text-align: center;
  width: 100%;
}
table {
  width: 80%;
  margin: 0 auto;
}
th {
  color: #AFC8DB;
}
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
/*前後月の日付*/
td.disabled {
  color: #ccc;
}
/*本日*/
[aria-selected=true] {
  background-color: #0F71BC;
  color: #fff;
  border-radius: 50%;
}
[aria-selected=false] {
  color: black;
}
/*ボタン*/
#next-prev-button {
  position: relative;
}
#next-prev-button button{
  cursor: pointer;
  color: #0F71BC;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
#prev {
  float: left;
}
#next {
  float: right;
}

#myBarChart{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.checked{
  color: green;
}

.finished{
  font-size: 2rem;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#calender-input{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}