.choice{
    font-weight: 600;
    border-style: solid;
    border-color: #ebebeb;
    padding: 13px;
    display: block;
    width: 40%;
    margin: 10px 0;
    cursor: pointer;
}
.failed1{
    background: #ff5128;
    color: #fff;
}
.failed2{
    background: #ff5128;
    color: #fff;
}
.succeed{
    background: #287dff;
    color: #fff;
}
.question{
    background: linear-gradient(transparent 60%, yellow 0%);
    display: inline-block;
}
.image{
    display: block;
}