@media screen and (max-width: 481px) {
	
}
@media screen and (max-width: 960px) {
  header{
    max-width: 100%;
  }
  main{
    height: 1500px;
    max-width: 100%;
    display: block;
    text-align: center;
  }
	.time-display{
    max-width: 100%;
  }
  .graph{
    max-width: 100%;
  }
  .date{
    display: none;
  }
  .top-submit{
    display: none;
  }
  .left-content{
    margin: 0;
  }
  .right-content{
    margin: 0;
  }
}